In [17]:
import pandas as pd

In [18]:
dvset=pd.read_csv("meta/development_set.txt",names=['name','isused'])

In [19]:
dvset

     name  isused
0   10005     NaN
1   10028     0.0
2   10059     NaN
3   10061     0.0
4   10075     NaN
5   10077     NaN
6   10096     NaN
7   10184     NaN
8   10240     NaN
9   10289     NaN
10  10291     NaN
11  10387     NaN
12  10406     NaN
13  10444     NaN
14  10526     NaN
15  10576     0.0
16  10590     NaN
17  10669     0.0
18  10671     NaN
19  10737     NaN
20  10760     NaN
21  10816     NaN
22  10852     NaN
23  10947     0.0
24  11051     NaN
25  11057     NaN
26  11183     NaN

In [20]:
tstset=pd.read_csv("meta/test_set.txt",names=['name','isused'])

In [21]:
tstset

     name  isused
0   10017     NaN
1   10081     NaN
2   10093     NaN
3   10345     NaN
4  10389A     0.0
5  10389B     0.0
6   10532     NaN
7   11056     NaN

In [22]:
name="10389A"

In [23]:
dvset["name"].isin([name]).any()

False

In [24]:
tstset["name"].isin([name]).any()

True

In [26]:
tstset[tstset["name"]==name]["isused"]==0

4    True
Name: isused, dtype: bool

In [13]:
from pathlib import Path
Path("./test/tswt").mkdir(parents=True, exist_ok=True)

In [14]:
Path(os.path.join("./","development_set","imagesss")).mkdir(parents=True, exist_ok=True)

NameError: name 'os' is not defined

In [1]:
import os

In [10]:
from sklearn.model_selection import train_test_split as tts
import numpy as np
files = os.listdir("/vast/scratch/users/iskander.j/PartiNet_data/raw/10005/annotations")
# splitting data into training and val
train_idx, val_idx = tts(np.arange(0, len(files), 1), shuffle=True,train_size=0.8)

In [11]:
train_idx, val_idx

(array([25, 14, 24, 28,  2, 12, 22, 20, 27, 10, 23,  7, 13,  8,  1, 15,  4,
         0,  9,  3, 17,  6, 26]),
 array([16, 18, 19,  5, 21, 11]))

In [12]:
len(train_idx), len(val_idx), len(files)

(23, 6, 29)

In [13]:
29*0.8

23.200000000000003